#*******************************************************************************
#.gitignore
#*******************************************************************************

#Purpose:
#The git program is informed here to ignore the following files while performing
#its distributed revision control and source code management. 
#Author:
#Arnaud Cerbelaud, 2026


#-------------------------------------------------------------------------------
#Environment variables
#-------------------------------------------------------------------------------
.env

#-------------------------------------------------------------------------------
#.DS_Store files
#-------------------------------------------------------------------------------
.DS_Store


#*******************************************************************************
#End
#*******************************************************************************